section.blog
    article.blog__post
        img(src="https://i1.wp.com/nypost.com/wp-content/uploads/sites/2/2019/10/corgi-05.jpeg?quality=80&strip=all&ssl=1")
        .post__content
            h5 October 9, 2019
            h3 How corgis became the hottest dog of 2019
            a(href="https://nypost.com/2019/10/09/how-corgis-became-the-hottest-dog-of-2019/").content__link
                span Go to link
                i.fas.fa-arrow-right
    article.blog__post
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cute-corgi-dogs-thumbnail.jpg")
        .post__content
            h5 November 2, 2020
            h3 12 Adorable Corgi Mixes You Can Follow on Social Media for Daily Joy
            a(href="https://mymodernmet.com/corgi-mixes/").content__link
                span Go to link
                i.fas.fa-arrow-right
    article.blog__post
        img(src="https://www.irishnews.com/picturesarchive/irishnews/irishnews/2018/03/07/214015277-2867c675-3209-4d03-8e01-df462fcc0ef3.jpg")
        .post__content
            h5 March 07, 2018
            h3 ‘Actually, bitch': This Corgi started a viral debate about fat shaming dogs
            a(href="https://www.irishnews.com/magazine/daily/2018/03/07/news/-actually-bitch-this-corgi-started-a-viral-debate-about-fat-shaming-dogs-1273039/").content__link
                span Go to link
                i.fas.fa-arrow-right