section.gift
    .gift__category
        h5 Corgi gifts
        h3 Our Newest Polish Colors
    .gift__list
        .list__items
            .items__img
                img(src="https://i.etsystatic.com/18454800/r/il/2545de/2774464945/il_794xN.2774464945_obsf.jpg")
            .items__column
                h5 New item
                h3 Corgi Dog Figurine
                span $29.99
                button(type="button", onclick="window.open('https://www.etsy.com/listing/922313345/pet-welsh-corgi-dog-figurine-statue?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=corgi+figurine&ref=sr_gallery-1-3', target='_blank')") Go to link
        .list__items
            .items__img
                img(src="https://images-na.ssl-images-amazon.com/images/I/81ZNel5lM-L._AC_SX679_.jpg")
            .items__column
                h5 New item
                h3 Party Corgi Mask
                span $13.99
                button(type="button", onclick="window.open('https://www.amazon.com/CreepyParty-Halloween-Costume-Party-Latex/dp/B07CQF4V64')") Go to link
        .list__items
            .items__img
                img(src="https://ih1.redbubble.net/image.1243040954.4264/ur,mask_flatlay_front,product,600x600.jpg")
            .items__column
                h5 New item
                h3 Corgi Quarantine Mask
                span $8.00
                button(type="button", onclick="window.open('https://www.redbubble.com/shop/corgi+masks')") Go to link