section.images
    .image__list
        img(src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/127894686_832585557529927_6113534759474966951_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=QoXbUWsPtJwAX9Q9fTI&tp=1&oh=a6f86d4f289867b2acc2e952ab5a9738&oe=60182F27", alt="Chucky")
        img(src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/132733894_167255731806992_6973986418518154048_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=P68L-giuw1gAX-XEVkd&tp=1&oh=960ec7ae3cf09c1480f4a4b5a3e3d4fa&oe=601A3D33", alt="Corgi butt")
        img(src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/131547486_1750138761824077_2225867010190693623_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=101&_nc_ohc=Z9tv20Yy544AX-6CeZj&tp=1&oh=6db1ea9ac6f258db6ddc75814ce82c86&oe=60189CE5", alt="Smart Corgi")
        img(src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/134760560_1723808161114439_8332164214903189340_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=111&_nc_ohc=5g2KNPlJztUAX_eTGIa&tp=1&oh=ac5e0d3bf7eec918ef89983b082b10e5&oe=601A687E", alt="Santa Corgi")
        img(src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/134436724_410314136977172_2507337718033889089_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=qjL9OhRFLecAX84S_GU&tp=1&oh=f340d7adcb8396e8074aad433913f28a&oe=6019A6AF", alt="Running Corgi")
        img(src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/38080974_624951427905642_5691967436941688832_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=qW6krv1Y6lQAX_Z13Rn&tp=1&oh=a9577bf7461f1921ea55f0350a5aa455&oe=6018E3E6", alt="Trump Corgi")
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg", alt="Baby Corgi")
        img(src="https://i.pinimg.com/originals/f9/4c/7a/f94c7a52c86f4725a8ab860a043b72ce.jpg", alt="Rabbit Corgi")
    .corgi__insta
        span Instagram 
        button(type="button", onclick="window.open('https://www.instagram.com/ari_the_corgi')")|@ari_the_corgi