section.mask
    .mask__category
        h5 Corgi mask
        h3 Adorable Corgi Quarantine Mask
    .mask__products
        .product
            img(src="https://ih1.redbubble.net/image.1219430601.0949/ur,mask_flatlay_front,wide_portrait,750x1000.jpg", alt="Space Corgi")
            h5 01
        .product
            img(src="https://ih1.redbubble.net/image.1802345993.3165/ur,mask_flatlay_front,wide_portrait,750x1000.jpg", alt="rudolph Corgi")
            h5 02
        .product
            img(src="https://ih1.redbubble.net/image.1189162478.8863/ur,mask_flatlay_front,wide_portrait,750x1000.jpg", alt="Lobster Corgi")
            h5 03
        .product
            img(src="https://ih1.redbubble.net/image.1751839557.0460/ur,mask_flatlay_front,wide_portrait,750x1000.jpg", alt="Corgi Knight")
            h5 04
        .product
            img(src="https://ih1.redbubble.net/image.1180783068.9660/ur,mask_flatlay_front,wide_portrait,750x1000.jpg", alt="Space Corgi2")
            h5 05
        .product
            img(src="https://ih1.redbubble.net/image.1348639009.1717/ur,mask_flatlay_front,wide_portrait,750x1000.jpg", alt="Jolly Corgis")
            h5 06
    .mask__button
        button Shop power couple