section.newsletter
        h5 Join our conversation
        p Be the first to hear about new launches and enjoy 10% off your first polish order.
        form(method="get").newsletter__form
            .newsletter__input
                input(type="email", placeholder="Enter your email")
                button(type="submit")
                    i.fas.fa-arrow-right