@import "_variables";

// Partials
@import "partials/_header";
@import "partials/_main";
@import "partials/_footer";

* {
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  width: 100%;
  height: 100vh;
  letter-spacing: 0.025em;
  padding-top: 150px;
}
