footer.footer
    .footer__columns
        span.column__title Support
        ul
            li F.A.Q.
            li Privacy Policy
            li Terms and Conditions
            li Accessibility
    .footer__columns
        span.column__title Follow us
        ul
            li Instagram
            li Pinterest
            li Facebook
            li Newsletter
    .footer__columns
        span.column__title Paintbox
        ul
            li Our Studios
            li Carrers
            li Press
            li Contact us