footer.footer
    .footer__columns
        span.column__title Support
        ul
            li 
                span F.A.Q.
            li 
                span Privacy Policy
            li 
                span Terms and Conditions
            li 
                span Accessibility
    .footer__columns
        span.column__title Follow us
        ul
            li 
                span Instagram
            li 
                span Pinterest
            li 
                span Facebook
            li 
                span Newsletter
    .footer__columns
        span.column__title Paintbox
        ul
            li 
                span Our Studios
            li 
                span Carrers
            li 
                span Press
            li 
                span Contact us