header.header
    .header__nav
        ul
            li Nail Studios
            li Shop Polish
        
        a(href="/")
            img(src="https://stickershop.line-scdn.net/stickershop/v1/product/1018863/LINEStorePC/main.png;compress=true")
        ul
            li Journal
            i.fas.fa-paw.fa-2x