main
    .main__halves
        .halves
            .halves__img
                img(src="https://images-na.ssl-images-amazon.com/images/I/51RGrBrg1QL._AC_SL1001_.jpg")
                img(src="https://gd.image-gmkt.com/ai/400/328/1164328400_01.g_0-w-st_g.jpg")
            .halves__half
                p 🤍 Perfect Corgi gifts for corgi lovers ! This sleeping corgi hugging pillow will always bring smile and happiness.
                button(type="button", onclick="window.open('https://www.amazon.com/Cute-Funny-Corgi-Plush-Pillows/dp/B078HBP7KD')") Shop Now
    .several-halves
        .halves
            .halves__img
                img(src="https://static.boredpanda.com/blog/wp-content/uploads/2019/05/corgi-in-the-garden-dog-cafe-29.jpg")
                img(src="https://i.pinimg.com/736x/4d/2c/04/4d2c040c596f5068f9ffd3df68c844c3.jpg")
            .halves__half
                h3 Corgi Cafe
                p 🤍 If heaven were a place on earth, it would be a corgi cafe
                p 🤍 Thailand-based dog oasis, appropriately dubbed Corgi in the Garden
                button(type="button", onclick="window.open('https://www.instagram.com/corgiinthegarden/?utm_source=ig_embed')") Go to cafe
                    span
                        i.fas.fa-arrow-right.fa-lg
    include section/gift

    .several-halves
        .halves
            .halves__img
                img(src="https://cdn.shopify.com/s/files/1/2669/6848/products/product-image-285650453_1200x1200.jpg?v=1573468365")
                img(src="//cdn.shopify.com/s/files/1/2669/6848/products/623435059-516848095_1024x1024@2x.jpg?v=1573468365")
            .halves__half
                h3 Corgi butt coin purse
                p 🤍 Perfect Corgi gifts for corgi lovers ! This sleeping corgi hugging pillow will always bring smile and happiness.
                button(type="button", onclick="window.open('https://www.amazon.com/ANJUU-Animal-Wallet-Zipper-Birthday/dp/B07RW2B89L')") Buy a Purse